DATABASE_URL="postgresql://postgres.qwilddaqnrznqbhuskzx:Lengocanh2005@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.qwilddaqnrznqbhuskzx:Lengocanh2005@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
SUPABASE_URL=https://qwilddaqnrznqbhuskzx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3aWxkZGFxbnJ6bnFiaHVza3p4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI4Mjk2MzEsImV4cCI6MjA1ODQwNTYzMX0.eLCoVC0yHR887SMpSv3uwhzUt2amkEzayAzhgWI03AE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3aWxkZGFxbnJ6bnFiaHVza3p4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MjgyOTYzMSwiZXhwIjoyMDU4NDA1NjMxfQ.sOiavV16OvzuwrfYJjdhhqSLHULCrHK6gyvDe953zno
DEFAULT_LOGO_USER=https://res.cloudinary.com/daiqcjyk9/image/upload/v1735465375/default_user_logo_b1f7pd.png
REDIS_URL=redis://default:EBsBmYzKg12BO7ejI9wDzUtUtx8gQcIS@redis-14816.c321.us-east-1-2.ec2.redns.redis-cloud.com:14816
MAILER_HOST=smtp.gmail.com
MAILER_PORT=587
MAILER_USER=lengocanhpyne363@gmail.com
MAILER_PASSWORD=dton mkst nund wvaj